<!doctype html>
<html>
<head>
  <title>Add | Online Calculator</title>
</head>
<body>
  <h1>Add</h1>
  <form action="/calculate" method="POST">
    <input type="number" name="first_number" placeholder="firstnumber"> +-*/
    <input type="number" name="second_number" placeholder="secondnumber">
    <button name="operation" value="add" type="submit"> Add </button>
    <button name="operation" value="subtract" type="submit"> Subtract </button>
    <button name="operation" value="multiply" type="submit"> Multiply </button>
    <button name="operation" value="divide" type="submit"> Divide </button>

  </form>
</body>
</html>







<!-- <h1> My First Sinatra</h1>

<b> Johnboy </b>
<h3> The date is </h3>
<%= Date.today %>
<%= @greeting %>
<% puts "newline" %>
<% if Date.today.tuesday? %>
  <p>
    John Jay
  </p>
  <% end %> -->
